<!DOCTYPE html>
<html lang=en xmlns:th="https://www.un.org/sustainabledevelopment/sustainable-development-goals/">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-signin-client_id" content="1009995049878-7euskld69sbma8m3mbnmpnbdujgav3gf.apps.googleusercontent.com">
        <title>Going Green Digital Log In Forgot Password</title>
        <meta name="description" content="Mending our planet, one leaf at a time.">
        <link rel="icon" href="favicon.ico" />
        <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
        <link rel="stylesheet" type="text/css" th:href="@{css/main-layout.css}">
        <link rel="stylesheet" type="text/css" th:href="@{css/content.css}">
        <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
    </head>
    <body>
        <header>
            <div class="header-container">
                <div class="header-logo">
                    <a id="app-logo" href="http://localhost:3000">Going Green Digital</a>
                </div>
                <nav class="nav-bar">
                    <ul id="nav-list">
                        <li><a class="nav-link" href="">Information</a></li>
                        <li><a class="nav-link" href="">Actions</a></li>
                        <li><a class="nav-link" href="">Footprint Calculator</a></li>
                        <li><a class="nav-link" href="">Chat</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="page-content">
            <div class="container">
                <h2 class="shakespeare">Much Ado About Nothing</h2>
			</div>
        </div>
        <div class="push"></div>
        <footer id="footer">
            <ul id="footer-ul">
                <li class="footer-list"><a id="footer-logo" href="http://localhost:3000">Going Green Digital</a></li>
                <li class="footer-list">Marcos</li>
                <li class="footer-list">Keeley</li>
                <li class="footer-list">Roz</li>
                <li class="footer-list">Cyrus</li>
                <li class="footer-list">Gan</li>
                <li class="footer-list">Rishi</li>
                <li class="footer-list">Abdulaziz</li>
                <li class="lfooter-list">Elroy</li>
                <li class="lfooter-list">Nayna</li>
            </ul>
        </footer>
    </body>
</html>