<!DOCTYPE html>
<html xmlns:th="https://www.un.org/sustainabledevelopment/sustainable-development-goals/">
<head>
<meta charset="ISO-8859-1">
<title>Login and Registration WebApp</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
<meta http-equiv = "refresh" content = "0; url = http://localhost:3000" />
</head>
<body>
	<div class="container text-center">
		<!-- <div>
			<h1>Welcome</h1>
		</div>
		<div>
			<h3><a th:href="@{/register}">Register</a></h3>
			<h3><a th:href="@{/login}">Login</a></h3>
			<h3><a th:href="@{/list_users}">List all users</a></h3>
		</div>
		-->
	</div>
	
</body>
</html>